@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Unbounded:wght@300&display=swap');
@import "tailwindcss";

body {
  font-family: "Unbounded", sans-serif;
  background-color:aliceblue;
  /* background-color: white; */
}

/* https://fonts.google.com/selection/embed */

@theme {
  --shadow-CoustmizeShadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}