@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Unbounded:wght@300&display=swap');
@import "tailwindcss";


body {
  font-family: "Unbounded", sans-serif;
  /* background-color: aliceblue; */
  /* background-color: white; */
  
}

/* https://fonts.google.com/selection/embed */

@theme {
  --shadow-CoustmizeShadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

html {
  @apply scroll-smooth;

}


.borderBox {
  width: 31rem;
  border-radius: 10px;
  padding: 11px;
  background-size: 15rem;
  background-position: right;
  background-repeat: no-repeat;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* border-bottom:  2px solid; */
}

.bg-g {
  background-color: #CDDCDC;
  background-image: radial-gradient(at 50% 100%, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
  background-blend-mode: screen, overlay;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-g1 {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-g2 {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  background-repeat: no-repeat;
  background-size: cover;
}